@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background:#ff0080;
}

#column-2 {
  background: #4000ff;
}

#column-3 {
  background: #00ff80	;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:#00bfff ;
  }

  #column-1 {
    background-color: #0080ff;
  }

  #column-2 {
    background-color:#0040ff ;
  }

  #column-3 {
    background-color:#0000ff ;
  }

  footer {
    background-color:#4000ff ;
  }
  
  .col-3 {
    width: 50%;
    float: left;
  }

  #column-1 {
    width: 100%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color:#0000ff ;
  }

  #column-1 {
    background-color:#4000ff ;
  }

  #column-2 {
    background-color:#8000ff ;
  }

  #column-3 {
    background-color:#bf00ff ;
  }

  footer {
    background-color:#ff00ff ;
  }
   
  .col-3 {
    width: 33.3%;
    float: left;
  }

  #column-1 {
    width:33.3%;
  }
}
